apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: flask-app-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for MySQL..."
              until nc -z mysql.database-namespace.svc.cluster.local 3306; do
                sleep 3
              done
              echo "MySQL is ready"

      containers:
        - name: flask
          image: abdlerazek/acadmic-flask:v1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: flask-config
            - secretRef:
                name: flask-secret
