<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Data Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
         {% if 'user_id' in session %}

                <button class="nav-button">
                    Welcome, {{ session.get('username') }} ({{ session.get('role') }}) </button>
         {% endif %}

        {% if session.get('role') == 'admin' or session.get('role') == 'head' %}
        <a href="{{ url_for('view_kpis') }}" class="nav-button"> عرض مؤشرات الاداء 📈 </a>
           
         {% endif %}

        
                {% if 'user_id' in session %}
                    <!-- Main navigation items -->
                    <!-- User info and logout -->
                    <a href="{{ url_for('view_person',id=session.get('user_id')) }}" class="nav-button"> عرض الملف الشخصي 📜 </a>
                    <div class="user-section">      
                   </div>
                {% else %}
                    <!-- Unauthenticated navigation -->
                    <a href="{{ url_for('login') }}" class="nav-button">Login</a>
                    <a href="{{ url_for('register') }}" class="nav-button">Register</a>
                {% endif %}
 
    </div>
      
    <div class="container">
        <main class="content">
            {% block content %}{% endblock %}
        </main>

        {% if session.get('role') == 'admin' or session.get('role') == 'head' %}
            {% include 'admin_sidebar.html' %}
        {% else %}
            {% include 'sidebar.html' %}
        {% endif %}
    </div>
        
   
</body>
</html>
