{% extends "base.html" %}
{% block content %}


      
<div class="table-content" >
    {% if  session.get('role') == 'admin' %}
      <form method="GET" action="{{ url_for('view_kpis') }}" style="justify-content: center;">
    <div class="form-group" style="justify-content: center;">
        <label for="department">القسم:</label>

        <select name="department"
                id="department"
                style="direction: ltr;">

            <option value= "All">All</option>
            <option value="MedicalEducation">MedicalEducation</option>
            <option value="Anatomy">Anatomy</option>
            <option value="Biochemistry">Biochemistry</option>
            <option value="Physiology">Physiology</option>
            <option value="Histology">Histology</option>
            <option value="Parasitology">Parasitology</option>
            <option value="Medicine">Medicine</option>
            <option value="Pathology">Pathology</option>
            <option value="Pharmacology">Pharmacology</option>
            <option value="Microbiology">Microbiology</option>
            <option value="Public Health">Public Health</option>
            <option value="Forensic">Forensic</option>
            <option value="Research">Research</option>
            <option value="Surgery">Surgery</option>
            <option value="Orthotraumatology">Orthotraumatology</option>
            <option value="Urology">Urology</option>
            <option value="Plastic Surgery">Plastic Surgery</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Clinical Pathology">Clinical Pathology</option>
            <option value="Infectious Disease">Infectious Disease</option>
            <option value="Pediatrics">Pediatrics</option>
            <option value="Obstertics">Obstertics</option>
            <option value="Gynecology">Gynecology</option>
            <option value="Toxicology">Toxicology</option>
            <option value="Psychiatry">Psychiatry</option>
            <option value="Dermatology">Dermatology</option>
            <option value="Anaesthia">Anaesthia</option>
            <option value="Opthamology">Opthamology</option>
            <option value="Emergency">Emergency</option>
            <option value="Clinical Care">Clinical Care</option>
            <option value="Genetics">Genetics</option>
            <option value="Nuclear Medicine">Nuclear Medicine</option>
            <option value="Oncology">Oncology</option>
            <option value="ENT">ENT</option>

        </select>
        <div style="padding: 10px;">
         <button type="submit" class="button">عرض</button>
         </div>
    </div>
          
</form>
{% endif %}

 {% if activity != 0 %}
        <table>
            <thead>
                {% if department == 'All' %}
                <tr>
                    <th> 💹 مؤاشرات الاداء للكلية </th>
                    <th> القيمة </th>
                </tr>
                {% else %}
                <tr>
                    <th>  💹 مؤاشرات الاداء قسم  {{department}}</th>
                    <th> القيمة </th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                <tr>
                    <td> 1 - عدد برامج التطوير التي شارك بها أعضاء هيئة التدريس </td>
                    <td>{{ activity_kpi}}</td>
                </tr>
                <tr>
                    <td> 2 -  نسبة المشاركة في برامج التطوير المهني </td>
                    <td>{{ activity_percent }}%</td>
                </tr>
                <tr>
                    <td> 3 - عدد الابحاث المنشورة في المجلات العلمية المحكمة</td>
                    <td>{{ Scientific_research2 }}</td>
                </tr>
                <tr>
                    <td>  4 - عددأعضاء هيئة التدريس الذين قاموا بنشر أبحاث علمية</td>
                    <td>{{ research1_percent }}%</td>
                </tr>
                <tr>
                    <td> 5 - عدد الابحاث المقبولة في المؤتمرات و الندوات العلمية المتخصصة </td>
                    <td>{{ Scientific_research2 }}</td>
                </tr>
                <tr>
                    <td> 6 -  نسبة النشر في المؤتمرات و الندوات العلمية المتخصصة </td>
                    <td>{{ research2_percent }}%</td>
                </tr>
                <tr>
                    <td>  7 - نسبة أعضاء هيئة التدريس المشاركين في الندوات و المؤتمرات العلمية </td>
                    <td>{{ conf_percent }}%</td>
                </tr>
                <tr>
                    <td> 8 - عدد الخدمات المجتمعية المقدمة من الاقسام العلمية  </td>
                    <td>{{ University_Service }}</td>
                </tr>
                <tr>
                    <td>  9 - متوسط درجات تقييم الاداء التدريسي لأعضاء هيئة التدريس    </td>
                    <td>{{ Evaluation_aspects_percent }}</td>
                </tr>
                <tr>
                    <td>  10 - متوسط درجات تقييم الانتاج البحثي والانشطة العلمية    </td>
                    <td>{{ activity_kpi }}</td>
                </tr>
                <tr>
                    <td>  11 - متوسط درجات تقييم خدمة القسم والكلية والجامعة    </td>
                    <td>{{ university_evaluation_percent }}</td>
                </tr>
                <tr>
                    <td>  12 - متوسط درجات تقييم الاخلاقيات و المسؤولية المهنية   </td>
                    <td>{{ activity_kpi }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h2 style="justify-self: center;">لا توجد بيانات مسجلة </h2>

        {% endif %}
</div>



{% endblock %}